.AnchorPane {
    -fx-background-color: #FFF;
}

.title {
    -fx-font-size: 18px;
}

.label {
    -fx-font-size: 14px;
}

.textField {
    -fx-background-color: #ffffff;
    -fx-border-color: #797979;
    -fx-padding: 8px 12px 8px 12px;
}

.button {
    -fx-background-color: #ffffff;
    -fx-border-color: #797979;
    -fx-padding: 8px 12px 8px 12px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
}